.login-div{
    /*position of div*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /*size of div*/
    width:fit-content;
    height:fit-content;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    /*style of div*/
    background-color: #000000b1;
    display:inline-block;
    justify-content: center;    
    border-radius: 10px;
}

.text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 5px;
}

.input{
    padding: 10px;
}

.username{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    
}

.username:hover{
    transition: 0.3s;
    background-color: rgb(204, 204, 204);
    box-shadow: 0px 0px 5px 0px rgb(172, 172, 172);
}

.password{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    
}

.password:hover{
    transition: 0.3s;
    background-color: rgb(204, 204, 204);
    box-shadow: 0px 0px 5px 0px rgb(172, 172, 172);
}

input::placeholder{
    color: rgb(55, 55, 55);
    font-size: 20px;
    font-weight: bold;
}

.submit-div{
    padding: 10px;
}

.submit{
    height: 30px;
    width: 75px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    background-color: gray;
}

.submit:hover{
    transition: 0.3s;
    background-color: rgb(204, 204, 204);
    box-shadow: 0px 0px 5px 0px rgb(172, 172, 172);

}
 
.forgotpassword a{
    color: rgb(195, 193, 193);
    text-decoration: none;
}

.forgotpassword a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}