.Outerbox {
    width: 80%;
    height: 60%;
    margin: auto; /* Add this to center the element horizontally */
    position: absolute;
    top: 50%; /* Set top to 50% to center vertically */
    left: 50%; /* Set left to 50% to center horizontally */
    transform: translate(-50%, -50%); /* Use transform to adjust for both horizontal and vertical centering */
    border-radius: 5px;
    display: flex;
    align-content: center;
    background-color: rgba(241, 195, 160, 0.6);
    overflow: hidden;
}

.hr {
    width: 90%;
    size: 5px;
    background-color: #000;
    
}

.Ccontentbox{
    width: 98%;
    height: 80%;
    display:flex;
    
}
